[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.15"
markdown = "==3.0.1"
pillow = "==5.4.1"
pytz = "==2018.9"
django-reversion = "*"
django-pagedown = "*"
django-markdown-deux = "*"
gunicorn = "*"
sorl-thumbnail = "*"
pygments = "==2.3.1"
astroid = "==2.1.0"
pylint = "==2.2.2"
setuptools = "==40.6.3"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
