[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
markdown = "==2.6.11"
pillow = "==5.0.0"
pytz = "==2018.3"
django-reversion = "*"
sorl-thumbnail = "*"
django-pagedown = "*"
django-markdown-deux = "*"

[dev-packages]

[requires]
python_version = "3.6"
