[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
markdown = "==2.6.11"
pillow = "==5.2.0"
pytz = "==2018.5"
django-reversion = "*"
django-pagedown = "*"
django-markdown-deux = "*"
gunicorn = "*"
sorl-thumbnail = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
