@import "colors"
@import "common"

a
  &:link
    color: $primary-color
  &:visited
    color: $primary-color
  &:hover
    color: $primary-color
    text-decoration: underline
  &:active
    color: $primary-color

.btn-primary
  background-color: $primary-color
  border-color: $primary-color
  &:link, &:visited, &:hover, &:active
    background-color: $primary-color-dark
    border-color: $primary-color-dark

.form-control
  border-color: $primary-color
  &:active
    border-color: $primary-color

#site-header-wrapper
  padding-top: 2rem
  #site-header
    font-size: 2rem

html
  height: 100%
  box-sizing: border-box

*
  box-sizing: inherit
  &:before, &:after
    box-sizing: inherit

body
  position: relative
  margin: 0
  padding-bottom: 6rem
  min-height: 100%
  font-family: "Helvetica Neue", Arial, sans-serif

footer
  position: absolute
  right: 0
  bottom: 0
  left: 0
  padding: 1rem
  background-color: #efefef

h2, h3, h4, h5, h6
  padding-top: 1rem

a.btn-white
  color: white !important
