{% extends "base.html" %}

{% load staticfiles %}
{% load markdown_deux_tags %}
{% load sorl_thumbnail %}

{% block page-title %}
  Startseite
{% endblock %}

{% block content %}
  <div class="container" style="padding-top: 1rem;">
    <div class="row">
      <div class="col-8">
        <a href="{{ frontpage.image1_leading.url }}" data-lightbox="frontpage">
          {% thumbnail frontpage.image1_leading "720" as img %}
            <img src="{{ img.url }}" alt="Senne Leading Image 1"
                 class="img-fluid material-card material-card-2">
          {% endthumbnail %}
        </a>
      </div>
      <div class="col-4">
        <a href="{{ frontpage.image2_leading.url }}" data-lightbox="frontpage">
          {% thumbnail frontpage.image2_leading "350" as img %}
            <img src="{{ img.url }}" alt="Senne Leading Image 2"
                 class="img-fluid material-card material-card-2">
          {% endthumbnail %}
        </a>
        <br> <br> <br>
        <a href="{{ frontpage.image3_leading.url }}" data-lightbox="frontpage">
          {% thumbnail frontpage.image3_leading "350" as img %}
            <img src="{{ img.url }}" alt="Senne Leading Image 3"
                 class="img-fluid material-card material-card-2">
          {% endthumbnail %}
        </a>
      </div>
    </div>

    <div class="spacer"></div>

    <div>
      <div class="text-center">
        <h2>{{ frontpage.block1_title }}</h2>
        <div class="underline-small"></div>
        <p class="lead">
          {{ frontpage.block1_subtitle }}
        </p>
      </div>
      <br>
      <div class="row">
        <div class="col-8">
          <span class="frontpage-content">
            {{ frontpage.block1_content|markdown }}
          </span>
        </div>
        <div class="col-4">
          <p>
            <a href="{% url "archive:index" %}">
              {% thumbnail frontpage.block1_image "350" as img %}
                <img src="{{ img.url }}" alt="Senne Block Image 1"
                     class="img-fluid material-card material-card-2">
              {% endthumbnail %}
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="spacer"></div>

    <div>
      <div class="text-center">
        <h2>{{ frontpage.block2_title }}</h2>
        <div class="underline-small"></div>
        <p class="lead">
          {{ frontpage.block2_subtitle }}
        </p>
      </div>
      <br>
      <div class="row">
        <div class="col-4">
          <p>
            <a href="{{ frontpage.block2_image.url }}" data-lightbox="frontpage">
              {% thumbnail frontpage.block2_image "350" as img %}
                <img src="{{ img.url }}" alt="Senne Block Image 2"
                     class="img-fluid material-card material-card-2">
              {% endthumbnail %}
            </a>
          </p>
        </div>
        <div class="col-8">
          <span class="frontpage-content">
            {{ frontpage.block2_content|markdown }}
          </span>
        </div>
      </div>
    </div>

    <div class="spacer"></div>

    <div>
      <div class="text-center">
        <h2>{{ frontpage.block3_title }}</h2>
        <div class="underline-small"></div>
        <p class="lead">
          {{ frontpage.block3_subtitle }}
        </p>
      </div>
      <br>
      <div class="row">
        <div class="col-8">
          <span class="frontpage-content">
            {{ frontpage.block3_content|markdown }}
          </span>
        </div>
        <div class="col-4">
          <p>
            <a href="{{ frontpage.block3_image.url }}" data-lightbox="frontpage">
              {% thumbnail frontpage.block3_image "350" as img %}
                <img src="{{ img.url }}" alt="Senne Block Image 3"
                     class="img-fluid material-card material-card-2">
              {% endthumbnail %}
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>
{% endblock %}