{% load staticfiles %}

<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/site.css' %}">

  <title>
    Naturschutz-Stiftung Senne ::
    {% block page-title %}{% endblock %}
  </title>
</head>

<body role="document">

<div id="site-header-wrapper" class="text-center">
  <span id="site-header">
    Senne Archiv
  </span>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link" href="{% url 'index' %}">
          Startseite
        </a>
        <a class="nav-item nav-link" href="{% url 'archive:index' %}">
          Archiv
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="underline"></div>

<div id="content" class="container">
  <div class="page-header">
    <h1>{% block page-header %}{% endblock %}</h1>
  </div>
  {% block content %}{% endblock %}
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <span class="btn">
          &copy; {% now "Y" %} Naturschutz-Stiftung Senne
        </span>
      </div>
      <div class="col">
        <div class="text-right">
          <a class="btn btn-link" href="{% url 'admin:index' %}">
            {% if user.is_staff %}
              Adminbereich
            {% else %}
              Login
            {% endif %}
          </a>
          <a class="btn btn-link" href="{% url "pages" url="datenschutz" %}">Datenschutz</a>
          <a class="btn btn-link" href="{% url "pages" url="impressum" %}">Impressum</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

</body>
</html>
