{% load staticfiles %}

<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/site.css' %}">

  <title>Senne Naturschutzverein</title>
</head>

<body role="document">

<div class="header text-center" style="padding-top: 2rem;">
  <h1>Senne-Archiv</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link" href="{% url 'index' %}">
          Startseite
        </a>
        <a class="nav-item nav-link" href="{% url 'archive:index' %}">
          Archiv
        </a>
        <a class="nav-item nav-link" href="#">Kontakt</a>
        <a class="nav-item nav-link" href="#">Impressum</a>
        <span class="nav-item nav-link">|</span>
        <a class="nav-item nav-link" href="{% url 'admin:index' %}">Login</a>
      </div>
    </div>
  </div>
</nav>

<style>
  .underline {
    border-top: 1px solid #299549;
    width: 600px;
    margin: 0.5em auto 0;
    padding-bottom: 3em;
  }

  .underline-small {
    border-top: 1px solid #299549;
    width: 200px;
    margin: 0.5em auto 0;
    padding-bottom: 2em;
  }

  .spacer {
    padding: 2rem 0;
  }
</style>

<div class="underline"></div>

<div id="content" class="container">
  {% block content %}
  {% endblock %}
</div>

<div style="padding-bottom: 2rem;"></div>

<script src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

</body>
</html>
